fastapi
uvicorn[standard]
sqlalchemy
asyncpg
psycopg2-binary
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
alembic
greenlet
python-dotenv
pydantic-settings
bcrypt
celery
cloudinary
python-multipart